{{- /* The opener of an entry: the picked cover, or the first of its photos. */ -}}
{{- $page := . -}}
{{- $cover := "" -}}
{{- with .Params.cover -}}
  {{- if site.Params.photos.origin -}}
    {{- $cover = partial "photoentry.html" (dict "url" .) -}}
  {{- else -}}
    {{- with $page.Resources.GetMatch . -}}
      {{- $cover = partial "photoentry.html" (dict "file" .) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with partial "photos.html" . -}}
    {{- $cover = index . 0 -}}
  {{- end -}}
{{- end -}}
{{- return $cover -}}
